.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-div{
  display: flex;
  height: 25vh;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}
.pixel-grid {
  display: grid;
  grid-template-columns: repeat(16, 30px);
  grid-template-rows: repeat(16, 30px);
  grid-gap: 0;
}

.pixel {

  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.animal-p{
  color:#0d6efd;
  text-transform: uppercase;
  margin:0px;
  background-color: #dbdbdb;
  width: 13vw;
  padding: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid;
}
.animal-gen{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
}
.animal-gen-btn{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px;
}
.cookies-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50vw;
}
.main-cookie{
  height: 100px;
  width: 100px;
}
.added-cookies{
  height: 50px;
  width: 50px;
}